---
---
@import "bootstrap.min.css";

img{
    max-width: 60%; text-align: center
}
#title {
    margin: 100px 0 200px 0;
    text-align: center;
} 
#title p {
    width: 45%;
    margin: 30px auto 0 auto; 
}
#title a {
    color: #FF4A5E;
    text-decoration:none;
}
#contact{
  margin-right:100px; max-width: 100%;
  text-align: right; 
}




















