---
---
@import "bootstrap.min.css";

img{
    max-width: 50%;
}
#contact{
  margin-left:100px; 0 max-width: 100%;
  text-align: left; 
}
contact p {
    margin: 100px auto 0 auto;
    font-size 80px
}





















