---
---
@import "bootstrap.min.css";

img{
    max-width: 60% ; 
}
.wrapper{
    padding-top: .7em;
}
.card{
     margon: 0 1em;
}
 h1{
     margin: 0.5em 0;
}
#Home {
    text-align: right;
}
#title {
    margin: 30px 0 100px 0;
    text-align: center;
} 
#title p {
    width: 45%;
    margin: 30px auto 0 auto; 
}
 #work a {
    color: #808000;
    text-decoration:none; 
}
img{
    max-width: 40% left; 
}
#Skills {
  margin-right:100px; max-width: 100%;
  text-align: right; 
}
#Skills p {
  width: 45%;
  margin: 30px auto 0 auto; 
}
#Skills a {
 color: #808000;
    text-decoration:none; 
}



















