<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<!-- get on correct post or first if we don't have one -->
{% if page.collection %}
    {% assign current = page %}
{% else %}
    {% assign current = site.posts[0] %}
{% endif %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{% if page.robots %}
    	<meta name="robots" content="{{ page.robots }}" />
	{% endif %}
	{{ seo }}
	<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
	<!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
	<div class="light">
		
		<nav class="navbar navbar-expand-lg navbar-white bg">
			<a class=Shekinah McClmyont href="#">Shekinah McClmyont</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColorlight" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="-icon"></span>
            </button>
		<nav class="nav-item">
                            <a class="nav-link" href="#">Home</a>
			</nav>
		<nav class="nav-item">
                            <a class="nav-link" href="#">Work</a>
			</nav>
                {% for static in site.pages %}
                    {% if static.id %}
			<nav class="nav-item">
                            <a class="nav-link" href="#{{ static.id }}">{{ static.title }}</a>
			</nav>
                    {% endif %}
                {% endfor %}

				</ul>
				
			</div>
		</nav>
		</div>
	</div><!-- end header -->
	<div class="wrapper container">

		<section>	
            <div id="title">
		<div id="class">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<h1> Shekinah McClymont</h1>
				<hr>
			</div>
			<div id="title">
				<div id="class">
				<h1> UX Designer</h1>
	<div id="work">
		<div id="class">
			</p>HARD WORK. MOTIVATION. DEDICATION</p>
			<br>
			<br>
			<br>
			<br>
		</div>
		</div>
	</section>

			{% for i in (1..2) %}
                <div class="row">
                    {% assign offset = forloop.index0 | times: 3 %}
                    {% assign posts = site.posts | where_exp:"post","post.url != current.url" %}
                    {% for post in posts limit:3 offset:offset %}
              <div class="light">
                            <div class="card text-white bg-primary mb-3">
                                <div class="card-header">Nofrills</div>
                                <div class="card-body">
                                    <a href="{{ post.url }}">
                                        {% if post.thumbnail %}
                                            <img src="{{ post.thumbnail }}" alt="{{ post.title }}" title="{{ post.title }}" />
                                        {% endif %}
                               </a>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
		{% endfor %}
		 <div class="row">
                    {% assign offset = forloop.index0 | times: 3 %}
                    {% assign posts = site.posts | where_exp:"post","post.url != current.url" %}
                    {% for post in posts limit:3 offset:offset %}
                        <div class="light">
                            <div class="card text-white bg-primary mb-3">
                                <div class="card-header">Nofrills</div>
                                <div class="card-body">
                                    <a href="{{ post.url }}">
                                        {% if post.thumbnail %}
                                            <img src="{{ post.thumbnail }}" alt="{{ post.title }}" title="{{ post.title }}" />
                                        {% endif %}
                                    </a>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
		</section>
		<section>
			 <div class ="row">
				 <div id="header">
                        <h2>About</h2>
			    <p> My name is Shekinah McClymont, and I’m a rambunctious innovated and responsible 19-year-old. I’m a very independent person and was a Retreat Leader at my high school and apart of an initiative called Unity. Within this group I’ve learned to communicate effectively and maintain a good work relationship with others. Also, I’ve learned to function independently and become a multidisciplinary team member in a fast-paced demanding environment. In addition, I play Rep basketball and was the captain of my school’s rugby team. I love playing sports, it’s a huge part of my life and has become a passion of mine. Throughout life it’s taught me many things that’s helped me become the determined and hard-working person I am today.
 </p>
                    </div>
				 <br>
				 <br>
				 <br>
			
				 {% for i in (1..2) %}
                <div class="row">
                    {% assign offset = forloop.index0 | times: 3 %}
                    {% assign posts = site.posts | where_exp:"post","post.url != current.url" %}
                    {% for post in posts limit:3 offset:offset %}
              
                                        {% if post.thumbnail %}
                                            <img src="{{ post.thumbnail }}" alt="{{ post.title }}" title="{{ post.title }}" />
                                        {% endif %}
                               
                        </div>
                    {% endfor %}
                </div>
		{% endfor %}
				 <div id="img-main" class="col-7 align-c" style="visibility: visible; left: 0%; opacity: 1;">
					<img class="major preload" src="{{ post.thumbnail }}" alt="{{ post.title }}">
				</div>
				 <img class="major preload" src="{{ post.thumbnail }}" alt="{{ post.title }}">
				 {% assign offset = forloop.index0 | times: 3 %}
                    {% assign posts = site.posts | where_exp:"post","post.url != current.url" %}
                    {% for post in posts limit:3 offset:offset %}
			 {% endfor %}
			</div>
		    </section>
	<div class="wrapper container">
                       <div class="row">
				<div id="header">
                        <h2>Values</h2>
			<p> -Family and Friends
				<br>
				-Education
				<br>
				-Mental and Physical Health
				<br>
				-Culture
				<br>
				-Animals
				<br>
				-Nature 
				<br>
				
				 I believe you can find happiness in the simplest of pleasures, such as reading a book, or sitting on your favorite couch or doing the job you love. My simplest pleasure is being able to have the privilege to do the job I love, the idea of getting to design a room that could bring a smile to someone’s face makes me happy. If I could do that for the rest of my life I know that I must be doing something right and that I’ve met one of my many goals in life, which is to bring happiness on to others. Since I was a little girl I’ve always been an artist and a very passionate one too. Every Christmas my mother would get me a fashion design sketchbook and for hours I would site down and design anything and everything. No matter where I went people would always find me with a sketchbook, it was the highlight of my day. Throughout life, I’ve learned to explore the art world and slowly gravitate towards User Experience Design. Even though I didn’t start out wanting to be a UX Designer. </p>
			<br>
			<br>
			<h2>Skills</h2>
			 <p class>- Good organizational and time management skills and ability to work under pressure
				 <br>
				- Communicate effectively and the ability to maintain a good work relationship 
				 <br>
				- Able to take initiative and the ability to function both independently and as a multidisciplinary team member in a fast-paced demanding environment 
				 <br>
				- Demonstrates the ability to be adaptable, independent and flexible in order to work efficiently and effectively	
				 <br>`	               
				- Able to provide a fast, friendly and accurate environment of service
</p>
			       </div>
			<hr>
			<br>
			<br>
			<br>
			<div id="title">
				<h1> My Angle</h1>
				<p></p>
			  </div>
			<div id="title">
			<br>
			<br>
			<br>
			<hr>
			<div id="title">
				<h1> Pop Vinyl</h1>
				<p></p>
			<div id="title">
				<h1> Home Ami</h1>
				<p></p>
			<div id="title">
				<h1> Art Portfolio</h1>
				<p></p>
			<div id="title">
				<h1> Individual Prospect</h1>
				<p></p>
			  </div>
				
	
			<hr>
				<br>

			
			  </div>
			  </div>
			  </div>
				<div id="class">
				<h1> Inspirational Quote </h1>
	<div id="work">
		<div id="class">
		    <p> "The best thing you can do for a person is to inspire them. That's the best currency you can offer: inspiration. So, when a person can rely on you for that, that empowers them in every realm of their life. Being inspired. It empowers them in their relationships, in their business, in their art, in their creativity. It empowers them because without inspiration, you're dry."

 " </p>
			<p> -Nipsey Hussle </p>
			<br>
			<br>
			<br>
			<hr>
			<br>
			<br>
			<h2>Contact</h2>
			<form>
  <fieldset>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="mcclymont.shekinah@gmail.com"</p>
	    </div>
    </div>
<div class="form-group">
      <label for="exampleInputName">Name</label>
      <input type="Name" class="form-control" id="exampleInputName" placeholder="Enter Name">
	<small id="NameHelp" class="form-text text-muted">Enter your first and last name.</small

    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email Address</label>
      <input type="Email" class="form-control" id="exampleInputEmail1" aria-describedby="EmailHelp" placeholder="Enter Email">
     
    </div>
    <div class="form-group">
      <label for="exampleInputPhone Number">Phone Number</label>
       <input type="Phone Number" class="form-control" id="exampleInputPhone Number" aria-describedby="Phone NumberHelp" placeholder="Enter Phone Number">
    </div>
    
    <div class="form-group">
      <label for="exampleInputMessage">Message</label>
      <input type="Message" class="form-control" id="exampleInputMessage" aria-describedby="Phone NumberHelp" rows="3">
    </div>
</fieldset>
		
<div class="button">
    <button type="submit" class="btn btn-primary" >Submit</button>
		</div>


		</div>

					</div>
		</div>
                {% for static in site.pages %}
                {% if static.id %}
                    <div id="{{ static.id }}">
                    {% if static.thumbnail %}
                        <img src="{{ static.thumbnail }}" alt="{{ static.title }}" title="{{ static.title }}" />
                    {% endif %}


			</div>
				
			</div>
                {% endif %}
			{% endfor %}
			       <button type="button" <a class=btn btn-outline-Top of Page href>Top of Page</a></button>
			

			</div>
		</div>
		</section>
		<footer id="footer">
		</footer>
	</div>
	<script>
		if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
                });
            }
            });
        }
	</script>
	{% if site.google_analytics %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', '{{ site.google_analytics }}', 'auto');
            ga('send', 'pageview');
        </script>
	{% endif %}       {% if page.id %}
            <script>
                window.location = (""+window.location).replace(/#[A-Za-z0-9_]*$/,'')+"#{{ page.id }}"
            </script>
        {% endif %}	
</body>

</html>
